.App-link {
  color: red;
}

.App-body{
  background: blue;
  min-height: 80vh;
  bottom: 0px;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-image-logo {
  height: 300px;
  pointer-events: none;
}